# ignore npm files
node_modules
npm-debug.log

# ignore Mac files
.DS_Store

# IDE settings
.idea
.vscode/*
!.vscode/launch.json

# Local settings
.env

# Local exports
*.pdf
*.qif
.transfer-tmp.json

# ignore source
src/*
tsconfig.json
tslint.json

# ignore tests
test/*
coverage/*
dist/test/*